{% extends templates/elements/layout.html %}
{% extends templates/elements/head.html %}
{% extends templates/elements/navbar-top.html %}
{% extends templates/elements/footer.html %}

{% block title %}FAQ{% endblock %}

{% block content %}
        <header id="head" class="secondary"></header>
        <!-- container -->
        <div class="container">
            <h2 class="text-center top-space">Foire au Questions</h2>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Comment se passe la redistibution ?</h3>
                    <p>
                        Vous pouvez directement réserver votre matériel depuis le <a href="./stock.php">site</a>. Vous pouvez ensuite personnaliser le serveur (notament la RAM) dans votre panier avant de cliquer sur le bouton réserver. Pour l'instant, nous limitons le nombre de matériel réservable à deux par personnes. Si vous avez un projets plus conséquent, n'hésitez pas à nous contacter ! Pour les association importante et les projet d'interet public nous contacter directement par email ou par message priver sur twitter.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3>Comment puis-je récupérer mon matériel ?</h3>
                    <p>
                        Pour récupérer votre matériel, il faudra venir dans un point de rendez-vous proche de notre stock, à quelques kilomètres de Paris East. Nous ne proposons pas de livraison pour l'instant.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Qui est éligible à nos rédistributions ?</h3>
                    <p>
                        Les particuliers et associations sont éligibles à nos redistributions. Nous nous réservons le droit de refuser une demande si nous suspectons que le matériel sera revendu ou utilisé à des fins lucratifs
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3>Comment vous contacter pour vous donner du matériel ?</h3>
                    <p>
		        Passez-nous un mail sur contact[at]teamrecup.fr ou sur le compte Twitter de l'association <a href="https://twitter.com/AssoTeamRecup">@AssoTeamRecup</a>, on vous répondera le plus vite possible !
                    </p>
                </div>
            </div>
        </div>
        <!-- /container -->
{% endblock %}
