{% extends templates/elements/layout.html %}
{% extends templates/elements/head.html %}
{% extends templates/elements/navbar-top.html %}
{% extends templates/elements/footer.html %}

{% block title %}FAQ{% endblock %}

{% block content %}
        <header id="head" class="secondary"></header>
        <!-- container -->
        <div class="container">
            <h2 class="text-center top-space">Foire aux Questions</h2>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Comment se passe la redistibution ?</h3>
                    <p>
                        Tu peux directement réserver ton matériel depuis le <a href="./stock.php">site</a>. Tu peux ensuite personnaliser le serveur (notament la RAM) dans ton panier avant de cliquer sur le bouton réserver. Pour l'instant, nous limitons le nombre d'éléments réservables à deux par personne. Si tu as un projet plus conséquent, n'hésite pas à nous contacter ! Pour les associations importantes et les projets d'interêt public nous contacter directement par e-mail ou par message privé sur Twitter.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3>Comment puis-je récupérer mon matériel ?</h3>
                    <p>
                        Pour récupérer ta commande, il faudra venir dans un point de rendez-vous proche de notre stock, à quelques kilomètres de Paris-Est. Nous ne proposons pas de livraison pour l'instant.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Qui est éligible à nos redistributions ?</h3>
                    <p>
                        Les particuliers et associations sont éligibles à nos redistributions. Nous nous réservons le droit de refuser une demande si nous suspectons que le matériel sera revendu ou utilisé à des fins lucratives.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3>Comment nous contacter pour nous donner du matériel ?</h3>
                    <p>
                        Passez-nous un mail sur contact[at]teamrecup.fr ou sur le compte Twitter de l'association <a href="https://twitter.com/AssoTeamRecup">@AssoTeamRecup</a>, nous vous répondrons le plus vite possible !
                    </p>
                </div>
            </div>
        </div>
        <!-- /container -->
{% endblock %}
