{% extends templates/elements/layout.html %}
{% extends templates/elements/head.html %}
{% extends templates/elements/navbar-top.html %}
{% extends templates/elements/footer.html %}

{% block title %}Panier{% endblock %}

{% block content %}
<header id="head" class="secondary"></header>
<div class="container">
    <h2 class="thin text-center">Panier {% echo count($_SESSION['panier']) %} élément(s)</h2>
    <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th class="align-middle fit" scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="align-middle col">Quantité</th>
            <th scope="align-middle col">Prix Unitaire</th>
            <th scope="align-middle col">Prix Total</th>
            <th class="align-middle fit" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% foreach($list as $elem): %}
          <tr>
            <th class="align-middle fit" scope="row">{{ $elem['title'] }}</th>
            <td>{{ $elem['desc'] }}</td>
            <td class="align-middle">{{ $elem['quantity'] }}</td>
            <td class="align-middle">{{ $elem['unit_cost'] }} €</td>
            <td class="align-middle">{{ $elem['total_cost'] }} €</td>
            <td class="align-middle fit"><a href="./panier.php?remove=True&id={{ $elem['id'] }}">Supprimer</a></td>
          </tr>
          {% endforeach %}
        </tbody>
      </table>
      <h2 class="thin text-center">Total de la demande {{ $total_cost }} € hors customisations</h2>
      <div class="col-md-6 sidebar sidebar-left">
        <form action="submit.php" method="post">
          <div class="form-group">
            <label for="email">Addresse e-mail :</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="Ton Email" placeholder="Ton email">
            <small id="email" class="form-text text-muted">L'adresse e-mail à laquelle nous pouvons te recontacter</small>
          </div>
          <div class="form-group">
            <label for="custom">Customisation :</label>
            <textarea class="form-control" name="custom" id="custom" rows="3"></textarea>
            <small id="custom" class="form-text text-muted">Si tu veux ajouter de la RAM, des cartes PCI à ton serveur ou des informations, c'est ici !</small>
          </div>
          <div class="form-group">
            <label for="project">Projet :</label>
            <textarea class="form-control" id="project" name="project" rows="3"></textarea>
            <small id="project" class="form-text text-muted">Dis-nous quels seront tes projets avec ce/ces équipements</small>
          </div>
          <button type="submit" class="btn btn-primary" >Réserver</button>
        </form>
      </div>
      <div class="col-md-6">
        <h4 class="thin" >Tarifs des Customisations</h4>
        <p>
          Les tarifs ci-dessous sont à ajouter au prix affiché à la fin du panier en fonction de ta customisation.
        </p>
        <p>
          - Barrette DDR3 4 Go de RAM : 2 €<br/>
          - Barrette DDR3 8 Go de RAM : 5 €<br/>
          - Barrette DDR3 16 Go de RAM : 10 €<br/>
          - Barrette DDR3 32 Go de RAM : 30 €<br/>
          <br/>
          - Barrette DDR4 4 Go de RAM : 4 €<br />
          - Barrette DDR4 8 Go de RAM : 9 €<br />
          - Barrette DDR4 16 Go de RAM : 18 €<br />
          - Barrette DDR4 32 Go de RAM : 40 €<br />
        </p>
        <h4 class="thin" >Informations importantes</h4>
        <p>
          Nous ne garantissons pas la disponibilité des éléments.<br/>
          Nous nous réservons la possibilité d'annuler une commande jusqu'au paiement.<br/>
          Nous limitons le nombre d'éléments d'une même catégorie à deux par entité (particulier ou association).<br/>
          Si tu as de plus grandes ambitions pour ton projet, n'hésite pas à nous contacter sur contact[at]teamrecup.fr<br/>
        </p>
      </div>
</div>
{% endblock %}
